<!DOCTYPE>
<html>
  <head>
    <title>blogs | banda</title>
    <link href="{{ url_for('static', filename='semantic.min.css') }}"
    rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles.css') }}"
    rel="stylesheet"/>
  </head>

  <body>

    <div class="ui text container">
      <br>
      <div class="ui buttons right floated">
        <a href="/" class="ui right floated button">home</a>
        <a href="/blogs" class="ui right floated button active">blogs</a>
        <a href="/reddit" class="ui right floated button">reddit</a>
        <a href="/events" class="ui right floated button">events</a>
        <a href="https://github.com/dnuka/banda" 
          class="ui right floated button">setup</a>
      </div>

      <h1 class="ui dividing header">your blog pages</h1>
      
      
      <br>
    </div>

  </body>
</html>
