<!DOCTYPE>
<html>
  <head>
    <title>home</title>
    <link href="{{ url_for('static', filename='semantic.min.css') }}"
    rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles.css') }}"
    rel="stylesheet"/>
  </head>

  <body>

    <div class="ui text container">
      <br>
      <div class="ui buttons right floated">
        <a href="/blogs">blogs</a>
        <a href="/reddit">reddit</a>
        <a href="/events">events</a>
        <a href="/setup">setup</a>
      </div>
      <h1 class="ui dividing header">your feeds</h1>
      <div class="ui small feed">
        {% for article in articles %}
          {% if loop.changed(article.source) %}
              <h4 class="ui header">{{ article.source }}</h4>
          {% endif %}
          {% if article.comments %}
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a href="{{ article.comments }}">
                      {{ article.title }}</a>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a href="{{ article.link }}">
                      {{ article.title }}</a>
                  </div>
                <div>
              </div>
            {% endif %}
        {% endfor %}
      </div>
      <br>
    </div>

  </body>
</html>
